// Containers
$content-padding-xsmall = 20px
$content-padding-small = 10px
$content-padding-medium = 30px
$content-padding-large = 60px

$container-width-slim = 750px
$container-width = 1530px
$container-width-medium = 1440px // not used
$container-width-wide = 1760px
$container-width-full = 1820px
$container-width-hero = 1675px

$viewports = {
    xsmall:    {min: 0,  max: 359},
    small:     {min: 360,  max: 539},
    smallWide: {min: 540,  max: 767},
    medium:    {min: 768,  max: 1023},
    large:     {min: 1024, max: 1199},
    xlarge:    {min: 1200, max: 1499},
    xxlarge:   {min: 1500, max: 1819},
    xxxlarge:  {min: 1820}
}

for $type, $range in $viewports
    $boundaries = {}
    for $boundary, $value in $range
        $boundaries[$boundary] = $value/16em;
    $viewports[$type] = $boundaries;

$xsmall-up = 'screen and (min-width: ' + $viewports.xsmall.min + ')'
$xsmall-only = $xsmall-up + ' and (max-width: ' + $viewports.xsmall.max + ')'
$xsmall-max = 'screen and (max-width: ' + $viewports.xsmall.max + ')'

$small-up = 'screen and (min-width: ' + $viewports.small.min + ')'
$small-only = $small-up + ' and (max-width: ' + $viewports.small.max + ')'
$small-max = 'screen and (max-width: ' + $viewports.small.max + ')'

$small-wide-up = 'screen and (min-width: ' + $viewports.smallWide.min + ')'
$small-wide-only = $small-wide-up + ' and (max-width: ' + $viewports.smallWide.max + ')'
$small-wide-max = 'screen and (max-width: ' + $viewports.smallWide.max + ')'

$medium-up = 'screen and (min-width: ' + $viewports.medium.min + ')'
$medium-only = $medium-up + ' and (max-width: ' + $viewports.medium.max + ')'
$medium-max = 'screen and (max-width: ' + $viewports.medium.max + ')'

$large-up = 'screen and (min-width: ' + $viewports.large.min + ')'
$large-only = $large-up + ' and (max-width: ' + $viewports.large.max + ')'
$large-max = 'screen and (max-width: ' + $viewports.large.max + ')'

$xlarge-up = 'screen and (min-width: ' + $viewports.xlarge.min + ')'
$xlarge-only = $xlarge-up + ' and (max-width: ' + $viewports.xlarge.max + ')'
$xlarge-max = 'screen and (max-width: ' + $viewports.xlarge.max + ')'

$xxlarge-up = 'screen and (min-width: ' + $viewports.xxlarge.min + ')'
$xxlarge-only = $xxlarge-up + ' and (max-width: ' + $viewports.xxlarge.max + ')'
$xxlarge-max = 'screen and (max-width: ' + $viewports.xxlarge.max + ')'

$xxxlarge-up = 'screen and (min-width: ' + $viewports.xxxlarge.min + ')'

$retina = '(min-resolution: 1.3dppx)'
$landscape = 'screen and (orientation: landscape)'
$portrait = 'screen and (orientation: portrait)'

$short-up = 'screen and (min-height: 48em)' // 768
$short-max = 'screen and (max-height: 48em)'
$high-up = 'screen and (min-height: 67.5em)' // 1080
$high-max = 'screen and (max-height: 67.5em)'