:root 
	--container-width 1216px
	--font-size 1.6rem
	--font-geist Geist, sans-serif
	--font-family-code monaco, 'Consolas', 'Lucida Console', monospace
	--bg-color wheat
	--color-border #eaecf0

	// CUSTOM
	--color-white white
	--color-black #101828
	--color-text #344054
	--color-grey #667085
	--radius-sm 4px
	--radius-base 8px
	--radius-lg 12px
	--radius-xl 16px
	--layer-modal 100

