.Hero
    height 200vh

    a
        display flex
        align-items center
        gap 12px
        font-size 2em
        font-weight 600
        text-transform uppercase
        margin-bottom 12px

    .icon
        font-size 3rem
        color red