.Section 
	&--slim 
		padding-top clamp(9.6rem, 15vw, 16rem)
		padding-bottom clamp(9.6rem, 15vw, 16rem)
	

	&--medium 
		padding-top clamp(4rem, 14vw, 14.4rem)
		padding-bottom clamp(4rem, 14vw, 14.4rem)
	

	&--large 
		padding-top clamp(4.8rem, 12vw, 12.8rem)
		padding-bottom clamp(4.8rem, 12vw, 12.8rem)
	

	.overflowed 
		overflow hidden
	
