.Title 
	text-wrap balance
	font-size clamp(3rem, 8vw, 5rem)
	letter-spacing -0.2rem
	font-weight 600
	line-height 1
	color var(--color-blue-500)

	&--lg 
		font-size clamp(2.5rem, 4vw, 3.75rem)
		letter-spacing -0.08rem

	&--md 
		font-size clamp(2.25rem, 5vw, 3rem)
		line-height 130%

	&--sm 
		font-size clamp(1.5rem, 3.5vw, 2.5rem)
		letter-spacing -0.048rem