.navigation 
	position relative
	border 1px solid rgba(0, 0, 0, 8%)
	padding 4px 4.5px
	border-radius 128px
	box-shadow 0 1px 2px 0 rgba(0, 0, 0, 4%)
	overflow hidden
	min-height 32px
	z-index 0
	max-width fit-content
	margin 0 auto

	ul 
		position relative
		display flex
		gap 2px
		overflow auto
		scrollbar-width none

		&::-webkit-scrollbar 
			display none
		
	

	&__indicator 
		position absolute
		z-index 1
		overflow-wrap wrap
		top 4px
		left 0
		min-height calc(100% - 8px)
		background #020617
		border-radius 128px
		transition:
			transition none
		
	

	li 
		a 
			position relative
			z-index 2
			display grid
			place-items center
			min-height 32px
			font-weight 500
			font-size 14px
			padding 6px 12px
			border-radius 128px
			transition:
			animation showYourself 0.6s $easeOutExpo both 0.6s
			text-decoration none

			&.active 
				background none
				color var(--color-white)
			

			+hover()
				background #020617
				color var(--color-white)

				&.active 
					background none
					color var(--color-white)
				
			
		
	

